@charset "utf-8";
/*-----------共通部分　ここから-----------*/
a{
  text-decoration: none;
  display: block;
}

img{
  vertical-align: top;
}

.inner-center{
  margin: 0 auto;
  width: 100%;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

main{
  padding-top: 80px;
}


/*-----------共通部分　ここまで-----------*/

/*-----------ヘッダー　ここから-----------*/

header{
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.contact-button {
  background-color: #6ba7ed;
  font-size: 12px;
  padding: 12px 14px;
  float: right;
  margin: 15px;
}
span{
  color: #fff;
}

.contact-button:hover span{
  color: #333;
  transition: 0.3s;
}



.header-menu-icon{
  padding: 15px;
  color: #777;
  float: left;
}

.hamburger{
  display: none;
}


/*-----------ヘッダー部分　ここまで-----------*/

/*-----------キービジュアル　ここから-----------*/
.keyvisual{
  background: url(img/keyvisual/keyvisual.jpg) center/cover;
  padding: 400px 0px;
}

.title-text{
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #6ba7ed;
}

.title-text-sub{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.text{
  text-align: center;
}
/*-----------キービジュアル　ここまで-----------*/

/*-----------ワーク　ここから-----------*/


.work{
  background-color: #e3f2fd;
  align-items: flex-start;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}


.img-pc-size{
  width: 250px;
  align-self: center;
  justify-self: center;
}

.center{
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.work-text{
  text-align: center;
}

.work-text h2{
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
}

.work-text p{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}
/*-----------ワーク　ここまで-----------*/

/*-----------スキル　ここから-----------*/
.skills{
  background-color: #fff;
  padding-bottom: 70px;
}

.skills h2{
  padding: 50px 0px;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}


.skills-img a{
  margin-left: 100px;
  margin-bottom: 100px;
  float: left;
}

.skills-img a:nth-child(3n+1){
  margin-left: 0px;
}

.skills-img a:nth-last-child(-n+3){
  margin-bottom: 0px;
}

.skill-img{
  opacity: 0.7;
  width: 300px;
  height: 300px;
}

.skill-img:hover{
  opacity: 1;
  transition: 0.7s;
}
/*-----------スキル　ここまで-----------*/

/*-----------プラン　ここから-----------*/
.plan{
  background-color: #d0dfea;
}

.select-plan h2{
  padding: 50px 0px;
  font-size: 40px;
  text-align: center;
}

.select-table{
  table-layout: fixed;
  width: 100%;
}

.table-area{
  padding-bottom: 50px;
}

thead tr th{
  background-color: #6ba7ed;
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
}

td, th{
  border-left: 2px solid #fff;
}

th:first-child{
  border-left: none;
}

tbody tr th, tbody tr td{
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  text-align: center;
}

tbody tr{
  background-color:  #f9f9f9;
}

tbody tr:nth-of-type(2n){
  background-color: #e0efff;
}
/*-----------プラン　ここまで-----------*/

/*-----------SNSアイコン　ここから-----------*/
.sns-icon-size a{
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sns-icon{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #e3f2fd;
}

.flex-center{
display: flex;
justify-content: center;
}

.sns-icon-size{
  width: 185px;
  text-align: center;
}

.sns-icon-size:hover{
  background-color: #fff;
  transition: 0.5s;
}
/*-----------SNSアイコン　ここまで-----------*/

/*-----------フッター　ここから-----------*/
.footer{
  background-color: #cfd8dc;
}

.footer p{
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 10px;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: row-reverse;
}
/*-----------フッター　ここまで-----------*/




@media screen and (max-width: 1199px) {
  .inner{
    width: 97%;
  }
  .keyvisual{
    padding: 250px 0px;
  }
  .work{
    width: 100%;
    padding-bottom: 50px;
  }

  .center{
    display: block;
    text-align: center;
  }

  .skills-img a{
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    float: none;
  }
  .skills-img a:nth-child(3n){
    margin-bottom: 80px;
  }
  .skills-img a:nth-last-child(1){
  margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {

  .hamburger {
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
    background-color: #6ba7ed;
    float: right;
    margin: 15px;
    display: block;
  }
  .hamburger-line {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 1px;
    background-color: #333333;
  }
  .hamburger-line1 {
  top: 10px;
  }
  .hamburger-line2 {
    top: 18px;
  }
  .hamburger-line3 {
    top: 26px;
  }
  .contact-button{
    display: none;
  }


  .inner{
    width: 97%;
  }
  .keyvisual{
    padding: 200px 0px;
  }

  .title-text{
    font-size: 40px;
  }
  .title-text-sub{
    font-size: 30px;
  }
  .work{
    width: 100%;
    padding-bottom: 50px;
    display: block;
  }
  .center{
    display: block;
    text-align: center;
  }

  .skills-img a{
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    float: none;
  }
  .skills-img a:nth-child(3n){
    margin-bottom: 80px;
  }
  .skills-img a:nth-last-child(1){
    margin-bottom: 0px;
  }
  thead tr th,tbody tr th{
    font-size: 14px;
    line-height: 22px;
  }
  tbody tr td{
    font-size: 12px;
  }
  .sns-icon-size{
    margin: 0 auto;
    width: 100%;
  }
  .sns-icon{
    padding: 50px 15px;
    display: block;
  }

  .sns-icon-size a {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .flex-center{
    display: block;
  }
}
